h1{
    font-size: 100px;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    border-right: 1px solid green;
    animation: 10s changeColor infinite;
    text-align: center;
}
p{
    font-size: 90px;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
label{
    font-size: 80px;

}
input{
    font-size: 100px;
    height: 100px;
    width: 300px;
}
select{
    font-size: 100px;
    width: 300px;
    height: 100px;
}
option{
    font-size: 100px;
    width: 300px;
    height: 100px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}
th {
    font-weight: bold;
    font-size: 60px;
}
table{
    height: 1000px;
}